.footer-menu {
  align-items: center;
  background-color: #ea1d2c;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}
