.o {
  text-decoration: line-through;
}

.img-thumbnail {
  border-radius: 50px;
}

.instruction {
  height: 100%;
  padding-bottom: 50px;
  padding-top: 2px;
}

.recipe-info {
  background-color: white;
  border: 1px solid var(--three);
  border-radius: 10px;
  margin: 1% auto 0;
  padding: 2%;
  width: 97.5%;
}

.btn-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 5% 0;
  width: 100%;
}

.btn-container button {
  background-color: transparent;
  border: 0;
}

.btn-container button:focus {
  outline: none;
}

.btn-container img {
  filter: invert(69%)
    sepia(31%) saturate(4482%) hue-rotate(343deg) brightness(102%) contrast(94%);
  max-width: 1.75em;
  min-width: 1.75em;
}

.btn-container button:nth-child( 1 ) img {
  filter: invert(13%)
    sepia(8%) saturate(2444%) hue-rotate(154deg) brightness(96%) contrast(86%);
}

.btn-container button:nth-child( 1 ) {
  color: var(--five);
  font-weight: 600;
}

.btn-end-recp {
  background-color: var(--five);
  border: 0;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.5em 0;
  position: fixed;
  width: 100%;
}
