.dtl-img {
  width: 75px;
}

.btn-start-recp {
  bottom: 0;
  position: fixed;
}

.btn-container {
  margin: 0 auto;
}

.rec-carousel {
  margin: 0 auto;
  width: 25%;
}

.rec-carousel h5 {
  color: black;
}
